* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Helvetica Neue', Helvetica, Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  opacity: 0;
  transition: all 666ms;
}

main.active {
  opacity: 1;
}

#injection-test {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 55px;
  text-align: center;
  width: 250px;
  z-index: 1;
}

#transition-wipe {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100vh;
  width: 100vw;
  background: black;
  transform: translateY(100vh);
  z-index: 1;
}

#transition-wipe.in {
  transform: translateY(0vh);
  transition: transform 666ms cubic-bezier(0.666, 0, 0.237, 1);
}

#transition-wipe.out {
  transform: translateY(-100vh);
  transition: transform 666ms cubic-bezier(0.666, 0, 0.237, 1);
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  background: black;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

header #logo {
  position: relative;
  margin: 25px;
  height: 25px;
  width: 25px;
  background: white;
  transition: background 666ms, width 333ms cubic-bezier(0.666, 0, 0.237, 1);
}

header #logo.wide {
  width: 75px;
}

header nav {
  margin-right: 25px;
}

header nav ul li {
  display: inline-block;
}
header nav ul li {
  margin-left: 15px;
}
header nav ul li a {
  color: white;
  text-decoration: none;
}

.hero {
  position: relative;
  width: 100vw;
  height: 20vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: height 999ms cubic-bezier(0.666, 0, 0.237, 1);
}

main.active #wrapper .hero {
  height: 70vh;
  transition: 0s;
}

.hero h1 {
  position: relative;
  z-index: 1;
}

#wrapper .hero-image {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-color: black;
  transform: scale(1.3);
  transition: transform 999ms cubic-bezier(0.666, 0, 0.237, 1);
  z-index: 0;
}

.active #wrapper .hero-image {
  transform: scale(1);
}

.page-content {
  position: relative;
  width: 90vw;
  max-width: 800px;
  margin: 2vw auto 0 auto;
  padding: 25px;
  background: white;
  margin-top: -50px;
}

.page-content img {
  width: 100%;
}

p {
  line-height: 1.3rem;
  margin-bottom: 2rem;
}

.next {
  position: relative;
  display: inline-block;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: black;
}

.next:hover {
  background: rgba(0, 0, 0, 0.1);
}

.alt-layout #wrapper {
  display: flex;
  justify-content: flex-end;
}

.alt-layout .hero {
  position: fixed;
  width: 50vw;
  height: 100vh;
  left: 0px;
}

.active.alt-layout #wrapper .hero {
  width: 50vw;
  height: 100vh;
}

.alt-layout .page-content {
  width: 50vw;
  margin: 0px;
  padding-top: 10rem;
}
