---
layout: base
title: "Bolt"
---
<div id="events" class="page center" data-bolt="main" data-bolt-merge="main">
  <div class="events-content active">
    <div class="events-callout-2">
      <h2>Along with events, Bolt also allows you to specify transitions.</h2>
      <p>You can specify a default transition as well as custom transitions.</p>
      <a href="/fin/" class="button inverted" data-bolt-link data-bolt-transition="examplesTransition">Transition</a>
      <a href="/fin/" class="button inverted" data-bolt-link>No Transition</a>
    </div>
  </div>
</div>