---
layout: base
title: "Bolt"
scripts:
  - type: js
    path: "/scripts/events.js"
---
<div id="events" class="page left-center" data-bolt="main" data-bolt-merge="main">
  <div class="events-content">
    <div class="events-callout">
      <h2>An event system that allows for fine tuned control.</h2>
      <p>Bolt follows the native browser lifecycle and adds in a few extra events that you can pause and resume as you see fit. Each event fires prior to the action taking place.</p>
    </div>
    <div class="events-flow">
      <h3>Events</h3>
      <a href="/events-2/" id="events-button" class="button inverted" data-bolt-link>Next</a>
    </div>
  </div>
</div>