---
layout: base
title: "Bolt"
inverted: true
scripts:
  - type: js
    path: "/scripts/features.js"
---
<div class="features-background half active" data-bolt="features-background" data-bolt-merge="features-background">
  <img class="feature-image" src="/images/max-bender-iF5odYWB_nQ-unsplash.jpg" data-bolt-prefetch alt="Credit: Max Bender - Unslpash">
  <div class="feature-gradient"></div>
</div>
<div id="features" class="page transparent left-center" data-bolt="main" data-bolt-merge="main">
  <div class="feature-callout">
    <h2>Merge element attributes across renders.</h2>
    <p>Persisting elements of a site sometimes change page to page, Bolt allows you to specify these elements and will automatically merge the elements attributes between renders.</p>
    <a href="/features-3/" class="button" data-bolt-link>Next</a>
  </div>
</div>