---
layout: base
title: "Bolt"
scripts:
  - type: js
    path: "/scripts/link-example-2.js"
---
<div id="link-example" class="page center" data-bolt="main" data-bolt-merge="main">
  <div class="link-samples">
    <h2>Sweet! That took <span id="time">32ms</span> to navigate.
Now, <a href="/link-example-3/" data-bolt-link>this</a> is that same link but we’ve added Bolt.
Give it a click and let’s see what it does!</h2>
  </div>
</div>