---
layout: base
title: "Bolt"
scripts:
  - type: js
    path: "/scripts/link-example-3.js"
---
<div id="link-example" class="page center" data-bolt="main" data-bolt-merge="main">
  <div class="link-samples">
    <h2>Alright. Now we’re talking - that took <span id="time">13ms</span> to load! 
Now let’s look at a more practical example with more complex content and images. <a href="/features/" data-bolt-link data-bolt-transition="examplesTransition">Let’s Go 👉</a></h2>
  </div>
</div>