---
layout: base
title: "Bolt"
scripts:
  - type: js
    path: "/scripts/link-example-1.js"
---
<div id="link-example" class="page center" data-bolt="main" data-bolt-merge="main">
  <div class="link-samples">
    <h2><a id="basic-link" href="/link-example-2/">This</a> is a basic link. It’s job is to take you places. 
If you click it we can move on.</h2>
  </div>
</div>