* {
  margin: 0px;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Helvetica Neue', Helvetica, Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

a {
  display: block;
  padding: 25px;
  min-width: 50%;
  text-align: center;
  background: black;
  color: white;
  text-decoration: none;
  margin-bottom: 2rem;
}
