/* Roobert */

@font-face {
  font-family: 'Roobert';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Roobert-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Roobert';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Roobert-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Roobert';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Roobert-SemiBold.woff2') format('woff2');
}

/* Tobias */

@font-face {
  font-family: 'Tobias';
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Tobias-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'Tobias';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Tobias-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Tobias';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Tobias-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Tobias';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Tobias-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Tobias';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Tobias-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Tobias';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Tobias-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Tobias';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Tobias-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Tobias';
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Tobias-Heavy.woff2') format('woff2');
}
