@import 'utils';

.feature-callout {
  position: relative;
  width: 90vw;
  color: white;
  opacity: 0;
  transition: all $speed-metal;

  &.active {
    opacity: 1;
  }
  h2,
  p {
    max-width: 600px;
  }
}
#features-routers {
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  h2 {
    margin-top: 0px;
  }
  p {
    max-width: 700px;
    margin: auto;
  }

  .center {
    width: 90%;
    margin: auto;
  }
}
.features-background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0%;
  background: black;
  z-index: 0;
  overflow: hidden;
  opacity: 1;
  transition: opacity $speed-metal;

  &.active {
    opacity: 1;
  }

  .feature-gradient {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    transform: translateX(0vw);
    transition: transform $speed-metal $evil-ease;
    background-image: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  }

  &.active {
    .feature-image {
      transform: translateX(0vw) scale(1);
    }
  }

  &.half {
    .feature-image {
      transform: translateX(30vw) scale(1);
    }
  }

  .feature-image {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0px;
    opacity: 0.3;
    transform: translateX(0vw) scale(1.5);
    transition: transform $speed-metal $evil-ease, width $speed-metal $evil-ease;
    object-fit: cover;
  }
}

.pointer {
  position: relative;
  background-color: black;
  width: 100%;
  font-size: 5em;
  text-align: center;
}

.features-gallery {
  position: relative;
  width: 100%;
  background: black;
  display: flex;
  justify-content: center;
  z-index: 1;

  &.active {
    .gallery-wrapper {
      top: -15vh;
      @include screen(md) {
        top: -10vh;
      }
    }
  }

  .gallery-wrapper {
    position: relative;
    width: 90%;
    top: 0vh;

    transition: top $speed-metal $evil-ease;

    .gallery-controls {
      position: relative;
      display: flex;
      justify-content: space-between;
      margin: 1em 0 0 0;
    }
    .gallery-content {
      display: flex;
      flex-direction: column;
      padding: 0 0 1rem 0;

      .image {
        width: 100%;
        height: 190px;
        overflow: hidden;
        border-radius: 10px;
        margin: 0.5rem auto;
        opacity: 0;
        transform: scale(0.9);
        transition: all $speed-metal $evil-ease;

        &.active {
          opacity: 1;
          transform: scale(1);
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      @include screen(md) {
        flex-direction: row;

        .image {
          width: 33%;
          height: 500px;
          margin: 0 1em;

          &:first-of-type {
            margin: 0 0 0 0;
          }
          &:last-of-type {
            margin: 0 0 0 0;
          }
        }
      }
    }
  }
}

.features-events {
  display: flex;
  background: black;
  padding: 25vh 0;

  .events-content {
    width: 90vw;
    max-width: 950px;
    margin: auto;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    color: white;
  }

  .logo {
    width: 100px;
    margin: auto;
  }
}
